<div class="container">
  <div class="single-item-filter-container">
    <mat-accordion>
      <mat-expansion-panel style="width: 100%">
        <mat-expansion-panel-header>
          <mat-panel-title> Search </mat-panel-title>
          <mat-panel-description>
            {{ searchText ? searchText : "Empty" }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayoutGap="10px">
          <app-item-input-autocomplete></app-item-input-autocomplete>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="single-item-filter-container">
    <mat-accordion>
      <mat-expansion-panel style="width: 100%">
        <mat-expansion-panel-header>
          <mat-panel-title> Stats </mat-panel-title>
          <mat-panel-description>
            {{
              selectedStats?.length > 0
                ? "Selected: " + selectedStats.length
                : "Empty"
            }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayoutGap="10px">
          <app-itemstat></app-itemstat>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <button mat-flat-button color="primary" (click)="clearFilter()">
    Clear filter
  </button>
  <button mat-flat-button color="primary" (click)="search()">Search</button>
</div>
