#navbar-div {
    position: relative;
    height: 100%;
    width: 100%;
}

.navbar{
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.navbar.bg-primary {
    background-color: #404747!important;
    box-shadow: none;
}