<div
  style="
    background-color: rgba(0, 0, 0, 0.99);
    color: white;
    padding: 5px 5px 1px 5px;
    height: 6%;
    min-height: 30px;
    -webkit-app-region: drag;
    -webkit-user-select: none;
  "
  id="menu"
  fxLayout="row"
  fxLayoutAlign="center"
>
  <div class="home-icon" (click)="showHomePage()">
    <span class="material-icons" style="font-size: 15px">home</span>
  </div>
  <div class="settings-icon" (click)="showSettingsPage()">
    <span class="material-icons" style="font-size: 15px">settings</span>
  </div>
  <div fxFlex style="align-self: center"></div>
  <div fxFlex>Trademaster</div>
  <div class="minimize-icon" (click)="hideWindow()">
    <span class="material-icons" style="margin-top: -6px">minimize</span>
  </div>
  <div class="close-icon" (click)="exitApp()">
    <span class="material-icons">close</span>
  </div>
</div>
<router-outlet></router-outlet>
