:host {
}

.minimize-icon {
  align-self: center;
  -webkit-app-region: no-drag;
  cursor: pointer;

  :hover {
    color: orange;
  }
}

.settings-icon {
  align-self: center;
  -webkit-app-region: no-drag;
  cursor: pointer;

  :hover {
    color: grey;
  }
}

.home-icon {
  align-self: center;
  -webkit-app-region: no-drag;
  cursor: pointer;

  :hover {
    color: grey;
  }
}

.close-icon {
  align-self: center;
  -webkit-app-region: no-drag;
  cursor: pointer;

  :hover {
    color: red;
  }
}
